/* Write your custom CSS here */
.login-bg{
    background: url('../images/login-bg.jpg');
    background-size: cover;
}
.form-inline{
    display: inline;
}
.mb-15{
    margin-bottom: 15px;
}
.logo-name{
    margin-bottom: 30px;
    font-family: monospace;
    font-size: 2em;
}
@media print{
	.no-print{
		display: none;
	}
}